<nav>
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">Hubit</a>
    <ul class="right">
      <li><%= button_to('Download', {action: :download}, {class: "btn"}) %> </li>
    </ul>
  </div>
</nav>
