<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <%= render('navigation') %>
    </header>

    <section>
      <% @repos.each do |stored_repo| %>
        <%= render('repo', {repo: stored_repo}) %>
      <% end %>
    </section>
  </body>
</html>
